<template>
  <div :class="divClass">
    <button v-if="glyph && !disabled" @click="onButtonClick">{{ glyph }}</button>
    <button v-if="glyph && disabled" disabled="disabled">{{ glyph }}</button>
  </div>
</template>
<script>
import Letter from '@/components/Letter.js'

export default {
  name: 'Key',
  props: {
    letter: Letter,
    initials: Array,
    display_hint: Object
  },
  computed: {
    glyph: function() {
      if(this.letter) {
        let prefix = null;
        if(this.display_hint && this.display_hint.categories.includes(this.letter.category)) {
          prefix = this.display_hint.prefix;
        }
        return this.letter.display_glyph(prefix);
      } else {
        return null;
      }
    },
    divClass: function() {
      if(this.letter) {
        return `key ${this.letter.category}`;
      } else {
        return 'key empty';
      }
    },
    disabled: function() {
      if(this.initials.includes(this.letter.category) || this.initials.includes('*')) {
        return false;
      } else {
        return true;
      }
    }
  },
  methods: {
    onButtonClick: function() {
      this.$emit('key-pressed', this.letter);
    }
  }
}
</script>
<style scoped>
.key {
  margin: 0;
  width: 2.2rem;
}
.key.space {
  width: 22rem;
}
.key.space > button {
  width: 22rem;
}
.key > button {
  padding: 0.2rem 0;
  width: 2.2rem;
  font-size: 1.2rem;
}
.key.vowel > button:enabled,
.key.bindu > button:enabled,
.key.nukta > button:enabled,
.key.virama > button:enabled {
  color: green;
}
</style>