<template>
  <div class="keyboard">
    <div v-for="(row, i) in alphabet.keymap.mappings" :key="i" class="row">
      <Key v-for="(letter, j) in row"
        :key="j"
        :letter="letter"
        :initials="initials"
        :display_hint="state.display_hint"
        v-on:key-pressed="onKeyPressed" />
    </div>
    <p class="text">{{ state.text }}<span class="highlight">{{ state.highlight }}</span></p>
  </div>
</template>
<script type="text/javascript">
import Key from '@/components/Key.vue'

export default {
  name: 'Keyboard',
  props: {
    alphabet: Object
  },
  computed: {
    initials: function() {
      return this.alphabet.state_machine.initials();
    },
    state: function() {
      return this.alphabet.state_machine.data();
    }
  },
  components: {
    Key
  },
  methods: {
    onKeyPressed: function(letter) {
      this.alphabet.state_machine.process(letter);
    }
  }
}
</script>
<style scoped>
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.keyboard > .row {
    display: flex;
    flex-direction: row;
}
.text {
  font-size: 2rem;
}
.text .highlight {
  color: green;
}
</style>