<template>
  <div id="app">
    <Keyboard :alphabet="alphabet" />
  </div>
</template>

<script>
import Keyboard from './components/Keyboard.vue'
import Devanagari from '@/components/Devanagari.js'

export default {
  name: 'app',
  data() {
    return {
      alphabet: new Devanagari()
    }
  },
  components: {
    Keyboard
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
